In [5]:
# Dependencies
import pandas as pd
import numpy as np
import csv
import os

In [6]:
# File to Load (Remember to Change These)
file_to_load = "resources/16zp03az.csv"

# store into Pandas data frame
df = pd.read_csv('resources/16zp03az.csv')

df.head()

   Zip Code Number of returns       Amount  Average Income
0         0         2,896,570  184,823,250        63807.62
1     85003             3,900      290,006        74360.51
2     85004             2,960      232,765        78636.82
3     85006             9,680      352,359        36400.72
4     85007             5,300      278,695        52583.96