In [54]:
# Dependencies
import pandas as pd
import numpy as np

# Name of the CSV file
file1 = 'Current_Median_Property_Value_Zip.csv'
file2 = 'Median_Sale_Prices_Time_Zip.csv'
file3 = 'zipcodes.csv'

# The correct encoding must be used to read the CSV in pandas
df = pd.read_csv(file1, encoding="ISO-8859-1")
df1 = df.loc[:, ["Date", "RegionName", "State", "County", "City", "Zhvi"]]
df2 = df1[df1['County'] == "Maricopa"]
df2 = df2.rename(columns={"RegionName":"Zip Code"})


df3 = pd.read_csv(file2, encoding="ISO-8859-1")
df4 = df3.loc[:, ["RegionName", "StateName", "2018-08"]]
df5 = df4[df4['StateName'] == "Arizona"]
df5 = df5.rename(columns={"RegionName":"Zip Code"})


df6 = pd.read_csv(file3, encoding="ISO-8859-1")
df6 = df6.rename(columns={"zipcode":"Zip Code", "city":"City"})


df7 = pd.merge(df6, df5, on="Zip Code")
df8 = pd.merge(df7, df2, on="Zip Code")
df9 = df8.loc[:, ["Zip Code", "City_x", "2018-08", "Zhvi"]]
df9 = df9.rename(columns={"City_x":"City", "2018-08":"Median Sales Price 08-18",
                          "Zhvi":"Median Estimated Property Value 08-18"})
df9

,Zip Code,City,Median Sales Price 08-18,Median Estimated Property Value 08-18
0,85014,Phoenix,284600.0,283700
1,85016,Phoenix,307300.0,313600
2,85022,Phoenix,266800.0,270500
3,85023,Phoenix,259000.0,240600
4,85024,Phoenix,255900.0,279600
5,85027,Phoenix,210800.0,221300
6,85028,Phoenix,377800.0,388400
7,85029,Phoenix,182500.0,194400
8,85032,Phoenix,262400.0,255000
9,85041,Phoenix,205800.0,191900
10,85042,Phoenix,234100.0,203700
11,85043,Phoenix,201800.0,193000
12,85044,Phoenix,290800.0,283500
13,85048,Phoenix,333100.0,339600
14,85050,Phoenix,341300.0,343800
15,85051,Phoenix,197300.0,180000
16,85053,Phoenix,216900.0,217000
17,85054,Phoenix,338900.0,382800
18,85083,Phoenix,341400.0,369500
19,85085,Phoenix,369800.0,378700
20,85086,Anthem,320900.0,349400
21,85087,New River,NaN,368600
22,85203,Mesa,239500.0,255500
23,85204,Mesa,224000.0,216500
24,85205,Mesa,205400.0,229300
25,85206,Mesa,218200.0,225100
26,85207,Mesa,306200.0,314700
27,85208,Mesa,226100.0,212000
28,85209,Mesa,254300.0,255700
29,85210,Mesa,NaN,196100
...,...,...,...,...
55,85297,Gilbert,320900.0,328100
56,85302,Glendale,NaN,205200
57,85303,Glendale,203300.0,195300
58,85304,Glendale,229100.0,227900
59,85305,Glendale,258000.0,247000
60,85306,Glendale,225000.0,231100
61,85307,Glendale,194900.0,203600
62,85308,Glendale,282000.0,283600
63,85310,Phoenix,303000.0,311500
64,85326,Buckeye,215700.0,199300
65,85331,Phoenix,452600.0,471900
66,85335,El Mirage,194600.0,189100
67,85338,Goodyear,253200.0,244900
68,85339,Phoenix,233400.0,234200
69,85340,Litchfield Park,304200.0,305200
70,85345,Peoria,204400.0,199000
71,85351,Sun City,152300.0,162100
72,85353,Phoenix,218100.0,211600
73,85355,Waddell,304700.0,328800
74,85373,Sun City,226000.0,224000
75,85374,Surprise,232500.0,236900
76,85375,Sun City West,231100.0,238100
77,85379,Surprise,244300.0,243000
78,85381,Peoria,278700.0,261600
79,85382,Peoria,269500.0,269300
80,85387,Surprise,307200.0,313800
81,85388,Surprise,244700.0,249600
82,85390,Wickenburg,242300.0,275000
83,85392,Avondale,241400.0,235000
84,85395,Goodyear,342100.0,333500