In [7]:
# Dependencies
import pandas as pd
import numpy as np

In [8]:
# Name of the CSV file
file1 = 'Resources/Current_Median_Property_Value_Zip.csv'
file2 = 'Resources/Median_Sale_Prices_Time_Zip.csv'
file3 = 'Resources/zipcodes.csv'

In [13]:
# Reading the file of PV
df = pd.read_csv(file1, encoding="ISO-8859-1")
df1 = df.loc[:, ["Date", "RegionName", "State", "County", "City", "Zhvi"]]
df2 = df1[df1['County'] == "Maricopa"]
df2 = df2.rename(columns={"RegionName":"Zip Code"})

# Reading the file of SP
df3 = pd.read_csv(file2, encoding="ISO-8859-1")
df4 = df3.loc[:, ["RegionName", "StateName", "2018-08"]]
df5 = df4[df4['StateName'] == "Arizona"]
df5 = df5.rename(columns={"RegionName":"Zip Code"})

# Reading zip codes
df6 = pd.read_csv(file3, encoding="ISO-8859-1",names = ["Zip Code", "City"])
# df6 = df6.rename(columns={"zipcode":"Zip Code", "city":})

In [14]:
df6.head()

   Zip Code      City
0     85003   Phoenix
1     85004   Phoenix
2     85006   Phoenix
3     85007   Phoenix
4     85008   Phoenix

In [15]:
df7 = pd.merge(df6, df5, on="Zip Code")
df8 = pd.merge(df7, df2, on="Zip Code")
df9 = df8.loc[:, ["Zip Code", "City_x", "2018-08", "Zhvi"]]
df9 = df9.rename(columns={"City_x":"City", "2018-08":"Median Sales Price 08-18",
                          "Zhvi":"Median Estimated Property Value 08-18"})
df9.head()

,Zip Code,City,Median Sales Price 08-18,Median Estimated Property Value 08-18
0,85014,Phoenix,284600.0,283700
1,85016,Phoenix,307300.0,313600
2,85022,Phoenix,266800.0,270500
3,85023,Phoenix,259000.0,240600
4,85024,Phoenix,255900.0,279600