In [25]:
# Dependencies
import pandas as pd
import numpy as np
import csv
import os

In [26]:
# Name of the resource CSV files
pv_file = 'resources/Current_Median_Property_Value_Zip.csv'
sp_file = 'resources/Median_Sale_Prices_Time_Zip.csv'
fziplist = r"resources/zipcodes.csv" # File containing all the zip codes we want to study

# Name of the saved csv files
clean_pv_file = os.path.join("resources","clean_pv_2018.csv")

In [34]:
# Loading the list of Zipcode for the Phoenix metropolitan area

# cities = [] # list of cities
# zipcodes = [] # list of zipcodes
# with open(fziplist) as ff:
#     zip_list = csv.reader(ff)
#     for row in zip_list:
#         zipcodes.append(row[0])
#         cities.append(row[1])  

zip_df = pd.read_csv(fziplist, names=["ZipCode","City"])
# selected_zipcodes = list(zip_df["ZipCode"])
zip_df.head()

   ZipCode      City
0    85003   Phoenix
1    85004   Phoenix
2    85006   Phoenix
3    85007   Phoenix
4    85008   Phoenix

In [39]:
# Reading the file of Properties Values
#----------------------------------------
Zhvi_df = pd.read_csv(pv_file, encoding="ISO-8859-1")
Zhvi_df = Zhvi_df.loc[:, ["Date", "RegionName", "County", "City", "Zhvi"]]
Zhvi_df = Zhvi_df.rename(columns={"RegionName":"ZipCode"})
# NB: Zhvi is the median home value estimated by Zillow

# Filtering the rows by the list of zipcode we previously loaded
#---------------------------------------------------------------
# We chose to do that by merging the dataframes instead of filtering the Zhvi_df by zipcode values, becaus
# we want NaN values for the zipcodes that do not have PV estimation --> it will be useful to corretly plot the patchs on the map
Zhvi_df = pd.merge(zip_df, Zhvi_df, on="ZipCode", how="left")
# Zhvi_df = Zhvi_df[Zhvi_df['RegionName'].isin(selected_zipcodes)].reset_index(drop=True)

# Saving the dataframe into a new csv
#------------------------------------
Zhvi_df.to_csv(clean_pv_file, index=False)

Zhvi_df.head()

   ZipCode    City_x        Date    County   City_y      Zhvi
0    85003   Phoenix  2018-08-31  Maricopa  Phoenix  395100.0
1    85004   Phoenix  2018-08-31  Maricopa  Phoenix  262600.0
2    85006   Phoenix         NaN       NaN      NaN       NaN
3    85007   Phoenix         NaN       NaN      NaN       NaN
4    85008   Phoenix  2018-08-31  Maricopa  Phoenix  206400.0

In [12]:
df2.count()

Date        128
Zip Code    128
City        128
Zhvi        128
dtype: int64

In [13]:
# Reading the file of SP
df3 = pd.read_csv(file2, encoding="ISO-8859-1")
df4 = df3.loc[:, ["RegionName", "StateName", "2018-08"]]
df5 = df4[df4['StateName'] == "Arizona"]
df5 = df5.rename(columns={"RegionName":"Zip Code"})

# Reading zip codes
df6 = pd.read_csv(file3, encoding="ISO-8859-1",names = ["Zip Code", "City"])
# df6 = df6.rename(columns={"zipcode":"Zip Code", "city":})

In [14]:
df6.head()

   Zip Code      City
0     85003   Phoenix
1     85004   Phoenix
2     85006   Phoenix
3     85007   Phoenix
4     85008   Phoenix

In [15]:
df7 = pd.merge(df6, df5, on="Zip Code")
df8 = pd.merge(df7, df2, on="Zip Code")
df9 = df8.loc[:, ["Zip Code", "City_x", "2018-08", "Zhvi"]]
df9 = df9.rename(columns={"City_x":"City", "2018-08":"Median Sales Price 08-18",
                          "Zhvi":"Median Estimated Property Value 08-18"})
df9.head()

,Zip Code,City,Median Sales Price 08-18,Median Estimated Property Value 08-18
0,85014,Phoenix,284600.0,283700
1,85016,Phoenix,307300.0,313600
2,85022,Phoenix,266800.0,270500
3,85023,Phoenix,259000.0,240600
4,85024,Phoenix,255900.0,279600

In [16]:
df3.head()

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08
0,84654.0,60657,Illinois,1,366800.0,380300.0,392100.0,394000.0,389300.0,380200.0,...,414800.0,411200.0,403000.0,407500.0,421700.0,367400.0,367000.0,364600.0,414100.0,413200.0
1,91982.0,77494,Texas,2,NaN,NaN,NaN,NaN,NaN,NaN,...,319900.0,317800.0,328400.0,333500.0,336500.0,332900.0,330100.0,336000.0,329700.0,NaN
2,93144.0,79936,Texas,3,NaN,NaN,NaN,NaN,NaN,NaN,...,132800.0,131300.0,128700.0,129400.0,130700.0,128300.0,129100.0,132900.0,134600.0,NaN
3,91940.0,77449,Texas,4,NaN,NaN,NaN,NaN,NaN,NaN,...,177500.0,174100.0,171200.0,177700.0,181000.0,183400.0,179400.0,180400.0,179300.0,178300.0
4,61630.0,10016,New York,5,NaN,NaN,NaN,NaN,NaN,NaN,...,784000.0,799100.0,803200.0,833800.0,872900.0,846000.0,883700.0,816900.0,835800.0,820800.0