In [2]:
# Dependencies
import pandas as pd
import numpy as np
import csv
import os

In [5]:
# Name of the resource CSV files
pv_file = 'resources/Current_Median_Property_Value_Zip.csv'
sp_file = 'resources/Median_Sale_Prices_Time_Zip.csv'
fziplist = r"resources/zipcodes.csv" # File containing all the zip codes we want to study

# Name of the saved csv files
clean_pv_file = os.path.join("resources","clean_pv_2018.csv")
clean_sp_file = os.path.join("resources","clean_sp.csv")

In [24]:
# Loading the list of Zipcode for the Phoenix metropolitan area

# cities = [] # list of cities
# zipcodes = [] # list of zipcodes
# with open(fziplist) as ff:
#     zip_list = csv.reader(ff)
#     for row in zip_list:
#         zipcodes.append(row[0])
#         cities.append(row[1])  

zip_df = pd.read_csv(fziplist, names=["ZipCode","City"])
# selected_zipcodes = list(zip_df["ZipCode"])
zip_df.head()

   ZipCode      City
0    85003   Phoenix
1    85004   Phoenix
2    85006   Phoenix
3    85007   Phoenix
4    85008   Phoenix

In [39]:
# Reading the file of Properties Values
#----------------------------------------
Zhvi_df = pd.read_csv(pv_file, encoding="ISO-8859-1")
Zhvi_df = Zhvi_df.loc[:, ["Date", "RegionName", "County", "City", "Zhvi"]]
Zhvi_df = Zhvi_df.rename(columns={"RegionName":"ZipCode"})
# NB: Zhvi is the median home value estimated by Zillow

# Filtering the rows by the list of zipcode we previously loaded
#---------------------------------------------------------------
# We chose to do that by merging the dataframes instead of filtering the Zhvi_df by zipcode values, becaus
# we want NaN values for the zipcodes that do not have PV estimation --> it will be useful to corretly plot the patchs on the map
Zhvi_df = pd.merge(zip_df, Zhvi_df, on="ZipCode", how="left")
# Zhvi_df = Zhvi_df[Zhvi_df['RegionName'].isin(selected_zipcodes)].reset_index(drop=True)

# Saving the dataframe into a new csv
#------------------------------------
Zhvi_df.to_csv(clean_pv_file, index=False)

Zhvi_df.head()

   ZipCode    City_x        Date    County   City_y      Zhvi
0    85003   Phoenix  2018-08-31  Maricopa  Phoenix  395100.0
1    85004   Phoenix  2018-08-31  Maricopa  Phoenix  262600.0
2    85006   Phoenix         NaN       NaN      NaN       NaN
3    85007   Phoenix         NaN       NaN      NaN       NaN
4    85008   Phoenix  2018-08-31  Maricopa  Phoenix  206400.0

In [12]:
df2.count()

Date        128
Zip Code    128
City        128
Zhvi        128
dtype: int64

In [25]:
# Reading the file of SP
sp_df = pd.read_csv(sp_file, encoding="ISO-8859-1")
# df4 = df3.loc[:, ["RegionName", "StateName", "2018-08"]]
sp_df = sp_df[sp_df['StateName'] == "Arizona"]
sp_df = sp_df.rename(columns={"RegionName":"ZipCode"})
sp_df = pd.merge(zip_df, sp_df, on="ZipCode", how="left")

sp_df["ZipCode"] = df["ZipCode"].astype(str)

# df6 = df6.rename(columns={"zipcode":"Zip Code", "city":})

In [26]:
df.head()

,RegionID,ZipCode,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08
30,94748.0,85032,Arizona,31,220900.0,220800.0,214300.0,210300.0,203800.0,197200.0,...,232400.0,239200.0,239800.0,256500.0,250300.0,254700.0,249100.0,254600.0,260100.0,262400.0
55,95048.0,85710,Arizona,56,NaN,NaN,NaN,NaN,NaN,NaN,...,154700.0,163500.0,166300.0,168400.0,171200.0,NaN,NaN,NaN,NaN,NaN
62,94820.0,85225,Arizona,63,210800.0,198100.0,188500.0,188700.0,189300.0,188000.0,...,243600.0,243700.0,251000.0,254100.0,255700.0,253500.0,248700.0,250400.0,254000.0,258300.0
67,94890.0,85308,Arizona,68,237800.0,243700.0,237000.0,235300.0,222300.0,221600.0,...,266600.0,271700.0,274400.0,268800.0,261300.0,269400.0,279000.0,277800.0,279200.0,282000.0
172,95043.0,85705,Arizona,173,NaN,NaN,NaN,NaN,NaN,NaN,...,121200.0,124900.0,133600.0,132000.0,133300.0,129700.0,NaN,NaN,NaN,NaN

In [22]:
df.to_csv(clean_sp_file, index=False)
df.count()

RegionID     133
ZipCode      133
StateName    133
SizeRank     133
2008-03       71
2008-04       71
2008-05       71
2008-06       71
2008-07       71
2008-08       71
2008-09       71
2008-10       72
2008-11       72
2008-12       72
2009-01       72
2009-02       72
2009-03       74
2009-04       74
2009-05       74
2009-06       77
2009-07       77
2009-08       77
2009-09       81
2009-10       81
2009-11       81
2009-12       81
2010-01       82
2010-02       83
2010-03       83
2010-04       83
            ...
2016-03      129
2016-04      129
2016-05      130
2016-06      132
2016-07      133
2016-08      133
2016-09      133
2016-10      133
2016-11      133
2016-12      133
2017-01      133
2017-02      133
2017-03      133
2017-04      133
2017-05      133
2017-06      133
2017-07      133
2017-08      133
2017-09      133
2017-10      133
2017-11      133
2017-12      133
2018-01      133
2018-02      132
2018-03      132
2018-04      131
2018-05      130
2018-06      129
2018-07      128
2018-08      105
Length: 130, dtype: int64

In [9]:
df7 = pd.merge(df6, df5, on="Zip Code")
df8 = pd.merge(df7, df2, on="Zip Code")
df9 = df8.loc[:, ["Zip Code", "City_x", "2018-08", "Zhvi"]]
df9 = df9.rename(columns={"City_x":"City", "2018-08":"Median Sales Price 08-18",
                          "Zhvi":"Median Estimated Property Value 08-18"})
df9.head()

NameError: name 'df2' is not defined

In [16]:
df3.head()

,RegionID,RegionName,StateName,SizeRank,2008-03,2008-04,2008-05,2008-06,2008-07,2008-08,...,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-07,2018-08
0,84654.0,60657,Illinois,1,366800.0,380300.0,392100.0,394000.0,389300.0,380200.0,...,414800.0,411200.0,403000.0,407500.0,421700.0,367400.0,367000.0,364600.0,414100.0,413200.0
1,91982.0,77494,Texas,2,NaN,NaN,NaN,NaN,NaN,NaN,...,319900.0,317800.0,328400.0,333500.0,336500.0,332900.0,330100.0,336000.0,329700.0,NaN
2,93144.0,79936,Texas,3,NaN,NaN,NaN,NaN,NaN,NaN,...,132800.0,131300.0,128700.0,129400.0,130700.0,128300.0,129100.0,132900.0,134600.0,NaN
3,91940.0,77449,Texas,4,NaN,NaN,NaN,NaN,NaN,NaN,...,177500.0,174100.0,171200.0,177700.0,181000.0,183400.0,179400.0,180400.0,179300.0,178300.0
4,61630.0,10016,New York,5,NaN,NaN,NaN,NaN,NaN,NaN,...,784000.0,799100.0,803200.0,833800.0,872900.0,846000.0,883700.0,816900.0,835800.0,820800.0